* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    text-size-adjust: 100%;
}

@media (min-width: 200px) { 
  .search, .home, .nav img{
    max-width: auto;
  }
}

@media (min-width: 200px) { 
    .main-video{
      width: 100px;
      height: 100px;
    }
  }

body{
    display: flex;
    flex-direction: column;
    /* width: max-content; */
}

/* @media (min-width: 800px) {
    .main-video{
        max-width: fit-content;
    }
} */

.nav {
    display: flex;
    /* border: 2px solid red; */
    /* padding: .5em; */
    margin: .5em;
    justify-content: space-evenly;
    /* background-color: blanchedalmond; */
}

.home{
    /* border: 2px solid black; */
    width: 40px;
    border-radius: 30%;
    margin: .6em;
    text-align: left;
    align-self: center;
    /* justify-content: center; */
}

.search{
    border: 2px solid gray;
    padding: 2px;
    margin: .8em;
    width: 385px;
    height: 35px;
    /* align-items: center; */
    align-self: center;
    border-radius: 50px;
}

.nav img{
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    align-self: center;
    margin: 4px;
    padding: 2px;
    border: 2px solid;
}

.main-video{
    /* border: 2px solid aqua; */
    /* margin-left: 15em; */
    margin-top: 0em;
    align-self: center;
    width: fit-content;
    height: fit-content;
}

.side-videos{
    /* border: 2px solid red; */
    align-self: center;
    flex-direction: row;
    /* padding: .5em; */
    /* margin: 15px; */
    margin-left: 90em;
    margin-top: -40em;
    width: 304px;
    /* height: fit-content; */
}

.side-videos h3{
    margin: 1em;
}